<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hello new world, all the boys and girls, i got some true stories to tell</h1>
    <p id="author">By: </p>
    <p id="message"></p>
    <script>
        let msgCon = document.getElementById('message')
        let author = document.getElementById('author')

        window.onload = (event) => {
            fetch('/user').then((res) => res.json()).then((data) => {
                author.innerHTML = data.author
                msgCon.innerHTML = data.message
            }).catch((err) => console.log(err))
        }
    </script>
</body>

</html>